# ==============================================================================
#                      🎮 MPANEL CONFIGURATION (.env)
# ==============================================================================

# Node Environment ('production' or 'development')
NODE_ENV=production

# Service Listening Ports
PORT_WEB=3001
PORT_API=3003
PORT_SFTP=3004

# Database Configuration (MariaDB / MySQL)
DB_HOST=127.0.0.1
DB_PORT=27017
DB_USER=panel
DB_PASSWORD=PanelPass123!
DB_NAME=panel

# JWT Authentication Security Secret & Expiration
JWT_SECRET=mpanel_super_secure_jwt_secret_key_2026_x892!
JWT_EXPIRES_IN=7d

# CurseForge Core API Key & Base URL for Modpacks & Plugins
CURSEFORGE_API_KEY=$2a$10$2LouREiMl.mx0kVBK.RlK.nloje4XS3oF8uSw809VZr07O.0A5cLq
CURSEFORGE_BASE_URL=https://api.curseforge.com/v1
